################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CameraCopyTool/bin
/CameraCopyTool/obj
/CameraCopyTool.Tests/obj
/CameraCopyTool.UI.Tests/bin/Debug/net10.0
/CameraCopyTool.UI.Tests/obj
/CameraCopyTool.Tests/bin/Debug/net10.0
CameraCopyTool.UI.Tests/bin/
CameraCopyTool.Tests/bin/

# Configuration files with secrets
/CameraCopyTool/App.config
CameraCopyTool/AppIcon.ico
CameraCopyTool/AppIcon.ico.old
