<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraCopyTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <appSettings>
        <!-- Google Drive Integration Settings (REQUIRED) -->
        <!-- All settings must be configured - no hardcoded defaults -->
        
        <!-- OAuth 2.0 Scope - Controls what access the app has -->
        <!-- Recommended: https://www.googleapis.com/auth/drive.file (only files created by this app) -->
        <add key="GoogleDrive.Scope" value="https://www.googleapis.com/auth/drive.file" />

        <!-- Credentials File Name - Where OAuth tokens are stored -->
        <add key="GoogleDrive.CredentialsFileName" value="google-drive-credentials.json" />

        <!-- Application Name - Used in Google API calls -->
        <add key="GoogleDrive.ApplicationName" value="CameraCopyTool" />

        <!-- OAuth 2.0 Client Credentials (MUST BE CONFIGURED) -->
        <!-- Get these from Google Cloud Console: https://console.cloud.google.com/apis/credentials -->
        <!-- 1. Create a new project -->
        <!-- 2. Enable Google Drive API -->
        <!-- 3. Create OAuth 2.0 Client ID (Desktop app) -->
        <!-- 4. Copy Client ID and Client Secret below -->
        <add key="GoogleDrive.ClientId" value="" />
        <add key="GoogleDrive.ClientSecret" value="" />
    </appSettings>
    
    <userSettings>
        <CameraCopyTool.Properties.Settings>
            <setting name="LastSourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDestinationFolder" serializeAs="String">
                <value />
            </setting>
        </CameraCopyTool.Properties.Settings>
    </userSettings>
</configuration>
